.footer {
  background: #e7f0e3;
  padding: 48px 0 24px;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__top {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}



.footer__nav {
  display: flex;
  align-items: center;

  a {
    font-size: 14px;
    font-weight: 600;
    color: #1e1e1e;
    text-decoration: none;
    position: relative;
    padding: 0 26px;
    transition: color 0.3s ease; 

    &:hover {
      color: #3a9d23; 
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 2px;
      height: 25px;
      background: #cfe3c6;
    }
  }

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }
}

.footer__logo {
  font-size: 28px;
  font-weight: 800;
  color: #3a9d23;
  letter-spacing: 1px;
  cursor: pointer;
  transition: opacity 0.3s ease; 

  &:hover {
    opacity: 0.8; 
  }
}

.footer__line {
  display: block;
  height: 1px;
  background: #cfe3c6;
  margin: 32px 0;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__socials {
  display: flex;
  gap: 16px;

  a {
    transition: transform 0.3s ease;
    
    &:hover {
      transform: translateY(-3px); 
    }
  }
}
.icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;

  &--instagram {
    mask-size: 18px;
  }

  &--facebook {
    mask-size: 18px;
    color: #3a9d23;
  }
}

.footer__copy {
  font-size: 14px;
  color: #6b6b6b;
}
@media (max-width: 768px) {
  .footer {
    padding: 40px 16px 24px;
    background: #fff; 

    &__top {
      display: flex;
      flex-direction: column;
      align-items: flex-start; 
      gap: 32px;
    }

    &__logo {
      font-size: 28px;
      margin-bottom: 8px;
      color: #359740; 
      order: -1; 
    }

    &__nav {
      display: grid !important; 
      grid-template-columns: 1fr 1fr; 
      width: 100%;
      gap: 20px 0; 

      a {
        padding: 0;
        font-size: 14px;
        font-weight: 600;
        color: #70737C; 
        text-transform: uppercase;
        text-decoration: none;
        
        &::after {
          display: none !important;
        }
      }

      &--left, &--right {
        display: contents; 
      }
    }

    &__line {
      height: 1px;
      background: #F0F2F5; 
      margin: 32px 0 24px;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__socials {
      display: flex;
      gap: 16px;
      
      img {
        width: 24px;
        height: 24px;
      }
    }

    &__copy {
      font-size: 12px;
      color: #70737C;
    }
  }
}
