.grow {
  padding: 120px 0;
}

.grow__container {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 560px 520px;
  gap: 80px;
  align-items: start;
}
.grow__content {
  h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  p {
    font-size: 15px;
    line-height: 1.8;
    color: #4a4a4a;
    margin-bottom: 17px;
  }
}





.grow__visual {
  position: relative;
  width: 520px;
  height: 520px;
  margin-left: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}
.grow__visual {
  position: relative;
  width: 520px;
  height: 520px;
  margin-left: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: visible;
}


.grow__ring {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 5;

  &--outer {
    width: 470px;
    height: 470px;
    border: 12px solid #b9ddb2; 
  }

  &--inner {
    width: 440px;
    height: 440px;
    border: 4px solid #e7f4e4; 
  }
}

.grow__image {
  width: 380px;
  height: 380px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 3;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.leaf {
  position: absolute;
  width: 50px;         
  height: auto;
  z-index: 3;
  opacity: 0.95;

  &--1 {
    top: -6px;
    right: 220px;
    transform: rotate(15deg);
  }

  &--2 {
    width: 160px;
    top: 120px;
    left: -6px;
    transform: rotate(-25deg);
    z-index: 0;
  }

  &--3 {
    width: 222px;
    bottom: 170px;
    right: -130px;
    transform: rotate(20deg);
    z-index: 0;
  }

  &--4 {
    width: 170px;
    bottom: -8px;
    left: 130px;
    transform: rotate(-15deg);
    z-index: 0;
  }

  &--5 {
    width: 900px;
    top: 200px;
    right: 30px;
    transform: rotate(35deg);
    width: 36px; 
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .grow {
    padding: 80px 0;
    overflow: hidden; 

    &__container {
      grid-template-columns: 1fr 1fr; 
      gap: 40px; 
      padding: 0 40px;
    }

    &__content {
      h2 { font-size: 30px; }
      p { font-size: 14px; }
    }

    .grow__visual {
      width: 420px;
      height: 420px;
      transform: scale(0.85);
      margin-left: auto;
    }

    .leaf {
      &--3 { right: -80px; }
      &--2 { left: -20px; }
    }
  }
}

@media (max-width: 768px) {
  .grow {
    padding: 60px 0;

    &__container {
      display: flex;
      flex-direction: column; 
      align-items: center;
      text-align: center;
      padding: 0 20px;
      gap: 30px;
    }

    &__content {
      h2 { font-size: 26px; }
      p { font-size: 14px; }
    }

    .grow__visual {
      width: 300px;
      height: 300px;
      margin: 0 auto;
    }

    .grow__ring--outer {
      width: 280px;
      height: 280px;
      border-width: 8px;
    }

    .grow__ring--inner {
      width: 260px;
      height: 260px;
    }

    .grow__image {
      width: 220px;
      height: 220px;
    }

  }
}