@use "./variables" as *;

@mixin container {
  max-width: $container;
  margin: 0 auto;
  padding: 0 16px;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@mixin button {
  padding: 12px 20px;
  border-radius: 999px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}


